@use 'import' as *;

html {
  &.-overscroll-none{
    overscroll-behavior-y: none;
  }

  &.-no-scroll{
    overflow: hidden;
    touch-action: none;
  }

  // @include media-pc {
    // @include font-liquid-full(16);
    // font-size: max(12px, div(16, $w-pc) * 100vw);
  // }

}



.l-container{

  --black  : #000;
  --white  : #fff;
  --bg     : #fff;
  --yellow : #ff0;
  --blue   : #014099;

  --white-semi : #DDD;


  position:relative;

  box-sizing: border-box;

  color: var(--black);
  background-color: var(--bg);

  word-break: break-word;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);

  @include font-base();
  // @include fontFeatureSettings();
  @include font-smoothing();
    
  @include media-sp {
    @include font-vw(16);
    line-height: 1;
  }
  
  @include media-pc {
    // @include font-rem(1);

    // bodyが62.5%なので100%換算になるようにする -> bodyに書いてあったのでここで指定なし
    // font-size: 1.6rem;
  }
  
  img{
    width: 100%;
    max-width:100%;
    height:auto;
    display: block;
  }
  
  a{
    color: var(--dark);
    text-decoration: none;
  
    @include media-sp {
    }
  
    @include media-pc {
    }
  }


  *,*::before,*::after {
    box-sizing: inherit;
  }
    
  ::selection {background: rgba(#014099, .2); color: #000;}
  ::-moz-selection {background: rgba(#014099, .2); color: #000;}

}