@use 'import' as *;

html {
  &.-overscroll-none{
    overscroll-behavior-y: none;
  }

  &.-no-scroll{
    overflow: hidden;
    touch-action: none;
  }

  // @include media-pc {
    // @include font-liquid-full(16);
    // font-size: max(12px, div(16, $w-pc) * 100vw);
  // }

}



.l-container{

  --black : #000;
  --white : #fff;
  --bg    : #EBEBEB;
  --gray  : #D0D0D0;

  --color1 : #6D3285;
  --color2 : #249796;
  --color3 : #88806F;
  --color4 : #6788B0;
  --color5 : #463026;

  position:relative;


  box-sizing: border-box;


  color: var(--black);
  background-color: var(--bg);

  word-break: break-word;

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);

  @include font-base();
  @include fontFeatureSettings();
  @include font-smoothing();
    
  @include media-sp {
    @include font-vw(14);
  }
  
  @include media-pc {
    @include font-rem(16);
  }
  
  img{
    width: 100%;
    max-width:100%;
    height:auto;
    display: block;
  }
  
  a{
    color: var(--dark);
    text-decoration: none;
  
    @include media-sp {
    }
  
    @include media-pc {
    }
  }


  *,*::before,*::after {
    box-sizing: inherit;
  }
    
  ::selection {background: rgba(#333, .2); color: #333;}
  ::-moz-selection {background: rgba(#333, .2); color: #333;}

}