@use "@/scss/import" as *;


.p-fixed-banner{
  
  position: fixed;

  @include media-sp {
		right: 0;
    left: 0;
    margin:0 auto;
		bottom: vw(12);
    z-index: 100;
    width: vw(343 * 0.75);

    transform: translate3d(0,130%,0);
  }

  @include media-pc {
		right: rem(32 + 65);
		// bottom: rem(32);
		bottom: 30px;
    z-index: 100;
    // width: rem(320 * 0.75);
    width: rem(320 * 0.8);

    filter: drop-shadow(0px rem(2) rem(8) rgba(0, 0, 0, 0.2));

    transform: translate3d(0,130%,0);
  }

  &.-ready{
    transition: transform .35s $Power3Out;
  }

  &.-show{
    transform: translate3d(0,0%,0);
    transition: transform .7s $Power3Out;
  }

  
  .p-fixed-banner__inner{
    position:relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--blue);

      @include media-sp {
        border-radius: vw(8);
      }
    
      @include media-pc {
        border-radius: rem(16 * 0.75);
      }
    }


    @include media-sp {
    }
  
    @include media-pc {
      transition: transform .3s $Power2Out;
    }
    @include hover {
      transform:scale(1.07);

      .c-btn__arrow{
        transform: translate3d(35%,0,0);
      }
    }

    a{
      display: block;
      position:relative;
      @include media-sp {
        padding: vw(8 * 0.75) vw(16 * 0.75) vw(8 * 0.75);
      }
    
      @include media-pc {
        padding: rem(16 * 0.75) rem(24 * 0.75) rem(18 * 0.75);
      }
      .c-btn__arrow{
        transition: transform .3s $Power3Out;
      }
    }

    em{
      display: block;
      text-align: center;
      font-style: normal;
      color: var(--white);
      
      @include media-sp {
        @include SP-Medium-bold();
        margin-bottom: vw(8 * 0.75);
        @include font-vw(16px * 0.75, 27.2px * 0.75, 1.28px);
        font-weight: 700;
      }
    
      @include media-pc {
        // @include PC-Medium-bold();
        @include font-rem(1.5rem * 0.75, 2.55rem * 0.75, 0.12rem);
        font-weight: 700;
        
        margin-bottom: rem(16 * 0.75);
      }
    }

    small{
      display: block;
      color: var(--white-semi);

      @include media-sp {
        text-align: center;
        margin-top: vw(8 * 0.75);
        @include font-vw(12px * 0.8, 18px * 0.8);
        font-weight: 400;
        // @include SP-annotation();
      }
    
      @include media-pc {
        margin-top: rem(6);
        @include PC-annotation();
      }
    }

    // .c-btn-round3{
    //   @include media-sp {
    //   }
    
    //   @include media-pc {
        
    //   }
    // }
  }
  
}