@use "@/scss/import" as *;


.p-fixed-banner{
  
  position: fixed;
  background-color: var(--blue);

  @include media-sp {
		right: vw(16);
		bottom: vw(16);
    z-index: 100;
    width: vw(343);
    border-radius: vw(8);

    transform: translate3d(0,130%,0);
  }

  @include media-pc {
		right: rem(32 + 65);
		bottom: rem(32);
    z-index: 100;
    width: rem(320);
    border-radius: rem(16);

    filter: drop-shadow(0px rem(2) rem(8) rgba(0, 0, 0, 0.2));

    transform: translate3d(0,130%,0);
  }

  &.-ready{
    transition: transform .35s $Power3Out;
  }

  &.-show{
    transform: translate3d(0,0%,0);
    transition: transform .7s $Power3Out;
  }

  
  .p-fixed-banner__inner{
    @include media-sp {
      
    }
  
    @include media-pc {
    }

    a{
      display: block;
      @include media-sp {
        padding: vw(8) vw(16) vw(8);
      }
    
      @include media-pc {
        padding: rem(16) rem(24) rem(18);
      }
    }

    em{
      display: block;
      text-align: center;
      font-style: normal;
      color: var(--white);
      
      @include media-sp {
        @include SP-Medium-bold();
        margin-bottom: vw(8);
      }
    
      @include media-pc {
        @include PC-Medium-bold();
        margin-bottom: rem(16);
      }
    }

    small{
      display: block;
      color: var(--white-semi);
      font-weight: 400;

      @include media-sp {
        margin-top: vw(8);
        @include font-vw(8px, 12px);
      }
    
      @include media-pc {
        margin-top: rem(6);
        @include font-rem(0.75rem, 1.125rem);
      }
    }

    .c-btn-round3{
      @include media-sp {
      }
    
      @include media-pc {
        
      }
    }
  }
  
}