@use "@/scss/import" as *;


.p-top-sec2{

  $w-pc : 1024;
  
  .p-top-sec2__block2{
    @include media-sp {
      
    }
  
    @include media-pc {
    }
    
    .border-box1{
      background-color: var(--white);
      @include media-sp {
        border: vw(3) solid var(--blue);
        padding: vw(30) 0 vw(28);

        text-align: center;

        margin-bottom: vw(32);
      }
    
      @include media-pc {
        border: 4px solid var(--blue);
        padding: rem(50) 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .border-box1__img{
        @include media-sp {
          width: vw(199);
          margin:0 auto vw(8);
        }
      
        @include media-pc {
          width: per(266, $w-pc);
          margin-left: per(68, $w-pc);
        }
      }

      p{
        color: var(--blue);

        @include media-sp {
          @include SP-Medium-bold();
        }
      
        @include media-pc {
          @include PC-Medium-bold();
        }
  
        &.border-box1__txt1{
          position:relative;
          text-align: center;
          @include media-sp {
          }
        
          @include media-pc {
            flex: 1;
          }
          
        }

        &.border-box1__txt2{
          position:relative;
          white-space: nowrap;
          @include media-sp {
            margin-top: vw(8);
          }
        
          @include media-pc {
            width: per(534, $w-pc);
            margin-right: per(68, $w-pc);
          }
          
        }
        
      }
    }

    .illust-block{
      text-align: center;

      @include media-sp {
        width: vw(311);
        margin:0 auto vw(71);
      }
    
      @include media-pc {
        width: per(640, $w-pc);
        margin:rem(64) auto rem(92);
      }

      .illust-block__txt1{
        @include media-sp {
          @include SP-Medium-bold();
          margin-bottom: vw(8);
        }
      
        @include media-pc {
          @include PC-Medium-bold();
          margin-bottom: rem(15);
        }
      }
      .illust-block__txt2{
        @include media-sp {
          @include SP-Medium-bold();
          margin-top: vw(8);
          margin-bottom: vw(8);
        }
      
        @include media-pc {
          @include PC-Medium-bold();
          margin-top: rem(17);
          margin-bottom: rem(15);
        }
      }
      .illust-block__txt3{
        @include media-sp {
          @include SP-Regular();
          margin-bottom: vw(32);
        }
      
        @include media-pc {
          @include PC-Regular();
          margin-bottom: rem(30);
        }
      }
      .illust-block__arrow{
        @include media-sp {
          width: vw(114);
          margin:0 auto;
        }
      
        @include media-pc {
          width: per(114,640);
          margin:0 auto;
        }
      }
    }


    .border-box2{
      position:relative;
      background-color: var(--white);
      @include media-sp {
        border: vw(3) solid var(--blue);
        padding: vw(61) 0 vw(32);
        margin-bottom: vw(81);
      }
    
      @include media-pc {
        border: 4px solid var(--blue);
        padding: rem(104) 0 rem(64);
        margin-bottom: rem(141);
      }



      >p{
        text-align: center;

        @include media-sp {
          @include SP-Medium-statement();
          margin-bottom: vw(33);
        }
      
        @include media-pc {
          @include PC-Medium-statement();
          margin-bottom: rem(30);
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin:0 auto;
        background-color: var(--blue);

        @include media-sp {
          width: vw(3);
          height: vw(83);
        }
      
        @include media-pc {
          width: 4px;
          height: rem(140);
        }
      }

      .border-box2__comment{
        position: absolute;
        left: 0;
        right: 0;
        margin:0 auto;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--blue);

        @include media-sp {
          top: vw(-42);
          width: vw(300);
          height: vw(80);
          border-radius: vw(8);
        }
      
        @include media-pc {
          top: rem(-60);
          border-radius: rem(8);
          width: per(800, $w-pc);
          padding: rem(20) 0;
        }

        p{
          color: var(--white);
          text-align: center;
  
          @include media-sp {
            @include SP-Medium-bold();
          }
        
          @include media-pc {
            @include PC-Medium-bold();
          }
        }

        img{
          position: absolute;
          top: calc(100% - 1px);
          left: 0;
          width: 100%;
        }

      }

      .border-box2__case{
        @include media-sp {
          width: vw(247);
          margin:0 auto vw(32);
        }
      
        @include media-pc {
          width: per(898, $w-pc);
          margin:0 auto rem(33);

          display: flex;
          align-items: flex-start;
          justify-content: space-between;

        }

        .case-item{
          @include media-sp {
            margin-bottom: vw(15);
          }
        
          @include media-pc {
            &:nth-of-type(2){
              margin: 0 per(32, $w-pc);
            }
          }

          p{
            color: var(--blue);
            text-align: center;
            @include media-sp {
              @include SP-Regular-Bold();
              margin-top: vw(8);
            }
          
            @include media-pc {
              @include PC-Regular-Bold();
              margin-top: rem(14);
            }
          }
        }
      }

      .border-box2__txt1{
        @include media-sp {
          width: vw(301);
          margin:0 auto vw(32);
        }
      
        @include media-pc {
          width: per(612, $w-pc);
          margin:0 auto rem(32);
        }
      }
    }



    .border-box3{
      position:relative;
      background-color: var(--white);
      @include media-sp {
        border: vw(3) solid var(--blue);
        padding: vw(82) 0 vw(30);
      }
    
      @include media-pc {
        border: 4px solid var(--blue);
        padding: rem(136) 0 rem(60);
      }

      .border-box3__title{
        position: absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        
        @include media-sp {
          top: vw(-51);
          width: vw(322);
        }
      
        @include media-pc {
          top: rem(-77);
          width: per(790, $w-pc);
        }
      }

      .border-box3__case{
        @include media-sp {
          display: flex;
          // align-items: flex-end;
          flex-wrap: wrap;
          justify-content: center;
        }
      
        @include media-pc {
          display: flex;
          // align-items: flex-end;
          flex-wrap: wrap;
          justify-content: center;

        }

        .case-item{
          @include media-sp {
            
            &:nth-of-type(1){
              width: 100%;
              margin-bottom: vw(15);

              p{
                width: vw(239);
                margin:0 auto vw(15);
              }

              img{
                width: vw(185);
                margin:0 auto;
              }

            }
            &:nth-of-type(2){
              width: 100%;
              margin-bottom: vw(34);

              img{
                width: vw(286);
                margin:0 auto;
              }
            }
            &:nth-of-type(3),
            &:nth-of-type(4){
              width: vw(147);

              p{
                margin-top: vw(17);
              }
            }

            &:nth-of-type(4){
              margin-left: vw(16);
            }
          }
        
          @include media-pc {

            &:nth-of-type(1){
              width: per(260, $w-pc);
              margin-right: per(48, $w-pc);
              margin-bottom: rem(64);
            }
            &:nth-of-type(2){
              width: per(554, $w-pc);
              margin-bottom: rem(64);

              img{
                width: per(482, 554);
                margin:0 auto;
              }
            }
            &:nth-of-type(3){
              margin-right: per(64, $w-pc);
              width: per(260, $w-pc);
            }
            &:nth-of-type(4){
              width: per(260, $w-pc);
            }
          }


          p{
            text-align: center;
            @include media-sp {
              @include SP-Medium-bold();
              border: vw(2) solid var(--black);
              padding: vw(6);
            }
          
            @include media-pc {
              @include PC-Medium-bold();
              border: 4px solid var(--black);
              padding: rem(12);

              &:first-child{
                margin-bottom: rem(26);
              }
              &:last-child{
                width: per(244, 260);
                margin: rem(47) auto 0;
              }
            }
          }
        }
      }

      .border-box3__txt{
        @include media-sp {
          margin-top: vw(15);
        }
      
        @include media-pc {
          margin-top: rem(32);
        }

        p{
          text-align: center;

          @include media-sp {
            @include SP-Regular();
          }
        
          @include media-pc {
            @include PC-Regular();
          }
        }
      }

    }
  }
  
}