@use "@/scss/import" as *;


.p-top-sec2{

  $w-pc : 1024;
  
  .p-top-sec2__block1{
    position:relative;

    @include media-sp {
      padding-top: vw(63);
      margin-bottom: vw(64);
    }
  
    @include media-pc {
      padding-top: rem(130);
      margin-bottom: rem(128);
    }

    h2{

      opacity    : 0;
      visibility : hidden;
      transform  : scale(.8);

      &.-inview{
        $duration : 1.2s;
        $delay    : 0s;

        opacity    : 1;
        visibility : visible;
        transform  : scale(1);

        transition : opacity $duration $SineInOut, transform $duration $Power3Out, visibility $duration;
        transition-delay : $delay;
      }
      
      @include media-sp {
        width: vw(273);
        margin:0 auto vw(32);
      }
    
      @include media-pc {
        // width: rem(546);
        width: per(546, $w-pc);
        margin:0 auto rem(62);
      }
    }

    .p-top-sec2__pop{

      position:relative;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--blue);
  
        transform:scaleX(0);
  
        @include media-sp {
          height: 1px;
        }
      
        @include media-pc {
          height: 2px;
        }
      }

      @include media-sp {
        padding-bottom: vw(37);
      }
    
      @include media-pc {
        padding-bottom: rem(100);
      }

      &.-inview{

        $delay: 0s;

        .p-top-sec2__pop__title{

          opacity    : 1;
          visibility : visible;
          transform  : scale(1);

          $dur : .7s;

          transition: opacity $dur $SineOut, transform $dur $Power3Out, visibility 0s;

          transition-delay : $delay;

          .attention{
            $delay1: $delay + .15s;
            $dur : .4s;

            visibility : visible;
            transform  : scale(1);
            transition : transform $dur $delay1 $Power3Out, visibility 0s $delay1;
          }
        }

        $delay: $delay + .4s;
        
        .pop1,
        .pop2,
        .pop3,
        .pop4,
        .pop5,
        .pop6,
        .pop7,
        .pop8{
          opacity    : 1;
          visibility : visible;

          $dur: .7s;

          transition: transform $dur $Power3Out, visibility 0s, opacity $dur * .5 $SineOut;

          @include media-sp {
            transform  : translate3d(0,0,0);
          }
        
          @include media-pc {
            transform  : scale(1);
          }
          
        }


        @include media-sp {
          $delay1: .1s;

          .pop1{ transition-delay : $delay + $delay1 * 0; }
          .pop2{ transition-delay : $delay + $delay1 * 0; }
          .pop3{ transition-delay : $delay + $delay1 * 1; }
          .pop4{ transition-delay : $delay + $delay1 * 1; }
          .pop5{ transition-delay : $delay + $delay1 * 2; }
          .pop6{ transition-delay : $delay + $delay1 * 2; }
          .pop7{ transition-delay : $delay + $delay1 * 3; }
          .pop8{ transition-delay : $delay + $delay1 * 3; }
        }
      
        @include media-pc {
          $delay1: .1s;

          .pop1{ transition-delay : $delay + $delay1 * 1; }
          .pop2{ transition-delay : $delay + $delay1 * 0; }
          .pop3{ transition-delay : $delay + $delay1 * 1.5; }
          .pop4{ transition-delay : $delay + $delay1 * .5; }
          .pop5{ transition-delay : $delay + $delay1 * 1; }
          .pop6{ transition-delay : $delay + $delay1 * 2.8; }
          .pop7{ transition-delay : $delay + $delay1 * 1.8; }
          .pop8{ transition-delay : $delay + $delay1 * 2.3; }
        }
        
        $delay: $delay + .6s;

        .p-top-sec2__pop__txt{

          opacity    : 1;
          visibility : visible;
          transform: translate3d(0,0,0);
      
          $duration : .7s;
      
          transition :
              opacity $duration $SineInOut,
              transform $duration $Power3Out,
              visibility $duration;
      
          transition-delay : $delay;
        }

        $delay: $delay + .3s;

        &::after {
          transform:scaleX(1);

          transition : transform .5s $Power3Out;
          transition-delay : $delay;
        }
      }
      
      p{
        @include media-sp {
          @include SP-Medium-statement();
          margin-bottom: vw(26);
        }
      
        @include media-pc {
          @include PC-Medium-statement();
          margin-bottom: rem(24);
        }
      }
    }

    .p-top-sec2__pop__title{
      position:relative;

      opacity    : 0;
      visibility : hidden;
      transform  : scale(.8);


      @include media-sp {
        width: vw(335);
        margin:0 auto vw(32);
      }
    
      @include media-pc {
        // width: rem(701);
        width: per(701, $w-pc);
        margin:0 auto rem(64);
      }

      .attention{
        position: absolute;
        top: 0;
        left: 0;

        visibility : hidden;
        transform  : scale(.5);

        @include media-sp {
          top: vw(-35);
          left: 0;
          right: 0;
          margin:0 auto;
          width: vw(186);
          transform-origin: 50% 100%;
        }
      
        @include media-pc {
          top: -47%;
          left: per(-130, 701);
          width: per(280, 701);
          transform-origin: 60% 100%;
        }
      }
    }

    .p-top-sec2__pop__wrapper{
      position:relative;

      @include media-sp {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        width: vw(317);
        margin:0 auto vw(15);
      }
    
      @include media-pc {
        margin-bottom: rem(58);

        &::before {
          content: "";
          display: block;
          padding-top: per(576, 1024);
        }
      }


      >div{
        @include media-sp {
          width: vw(149);
          margin-bottom: vw(16);
        }
      
        @include media-pc {
          position: absolute;
        }
      }
    }

    .pop1,
    .pop2,
    .pop3,
    .pop4,
    .pop5,
    .pop6,
    .pop7,
    .pop8{
      opacity: 0;
      visibility : hidden;

      @include media-sp {
        transform: translate3d(0,vw(50),0);
      }
    
      @include media-pc {
        transform  : scale(.6);
      }
    }

    .pop1{
      transform-origin: 85% 100%;

      @include media-sp {
        
      }
    
      @include media-pc {
        width: per(292 + 4, $w-pc);
        top: 0;
        left: 0;
      }
    }

    .pop2{
      transform-origin: 18% 100%;

      @include media-sp {
        
      }
    
      @include media-pc {
        width: per(292 + 4, $w-pc);
        top: 0;
        left: per(360, $w-pc);
      }
    }

    .pop3{
      transform-origin: 15% 100%;

      @include media-sp {
        
      }
    
      @include media-pc {
        width: per(292 + 4, $w-pc);
        top: 0;
        right: 0;
      }
    }

    .pop4{
      transform-origin: 88% 0%;

      @include media-sp {
        
      }
    
      @include media-pc {
        width: per(292 + 4, $w-pc);
        top: 35%;
        left: per(180, $w-pc);
      }
    }

    .pop5{
      transform-origin: 0% 10%;

      @include media-sp {
        
      }
    
      @include media-pc {
        width: per(292 + 4, $w-pc);
        top: 34.5%;
        left: per(542, $w-pc);
      }
    }

    .pop6{
      transform-origin: 85% 0%;
      
      @include media-sp {
        
      }
    
      @include media-pc {
        width: per(292 + 4, $w-pc);
        bottom: 0;
        left: 0;
      }
    }

    .pop7{
      transform-origin: 50% 0%;

      @include media-sp {
        
      }
    
      @include media-pc {
        width: per(298 + 4, $w-pc);
        bottom: 0;
        left: per(360, $w-pc);
      }
    }

    .pop8{
      transform-origin: 20% 0%;

      @include media-sp {
        
      }
    
      @include media-pc {
        width: per(292 + 4, $w-pc);
        bottom: 0;
        right: 0;
      }
    }
  }


  .p-top-sec2__pop__desc{
    text-align: center;


    visibility: hidden;
    opacity: 0;
    
    will-change: opacity, transform, visibility;

    @include media-sp {
      transform: translate3d(0,vw(140),0);
    }

    @include media-pc {
      transform: translate3d(0,120px,0);
    }


    &.-inview{
      opacity    : 1;
      visibility : visible;
      transform: translate3d(0,0,0);

      $duration : .8s;
      $delay    : .3s;

      transition :
          opacity $duration $SineInOut,
          transform $duration $Power3Out,
          visibility $duration;

      transition-delay : $delay;
    }


    @include media-sp {
      margin-bottom: vw(100);
    }
  
    @include media-pc {
      margin-bottom: rem(127);
    }

    .border-box{
      background-color: var(--white);
      @include media-sp {
        border: vw(3) solid var(--black);
        padding: vw(13) vw(16) vw(14);
      }
    
      @include media-pc {
        border: 4px solid var(--black);
        padding-bottom: rem(58);
      }

      img{
        @include media-sp {
          margin-bottom: vw(20);
        }
      
        @include media-pc {
          margin-bottom: rem(34);
        }
      }

      p{
        @include media-sp {
          @include SP-Medium-statement();
        }
      
        @include media-pc {
          @include PC-Medium-statement();
        }
  
        .underline{
          position:relative;
          @include media-sp {
        
          }
        
          @include media-pc {
            
          }

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: var(--black);
            @include media-sp {
              height: 1px;
            }
          
            @include media-pc {
              height: 2px;
            }
          }
        }

        .marker{
          position:relative;
          @include media-sp {
        
          }
        
          @include media-pc {
            // margin-right: .5em;
          }
          >span{
            position:relative;

          }
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 4%;
            width: 92%;
            background-color: var(--yellow);
            z-index: 0;
            @include media-sp {
              height: vw(6);
            }
          
            @include media-pc {
              height: rem(12);
            }
          }
        }
      }
    }

  }

  
  .p-top-sec2__pop__txt{
    visibility: hidden;
    opacity: 0;
    
    will-change: opacity, transform, visibility;
  
    @include media-sp {
      transform: translate3d(0,vw(140),0);
    }
  
    @include media-pc {
      transform: translate3d(0,rem(150),0);
    }
  }
}