@use "@/scss/import" as *;


.p-top-sec3{

  $w-pc : 1024;

  background-size  : 100% auto;
  background-repeat  : repeat-y;
  background-position: center top;

  @include media-sp {
    background-image : url(/assets/img/common/bg_mosaic_navy_sp.jpg);

    padding-top: vw(64);
    padding-bottom: vw(64);
  }

  @include media-pc {
    background-image : url(/assets/img/common/bg_mosaic_navy_pc.jpg);

    padding-top: rem(128);
    padding-bottom: rem(128);
  }

  
  .p-top-sec3__inner{
    @include media-sp {
      @include center-sp();
    }
  
    @include media-pc {
      width: 84%;
      max-width: 1024px;
      margin:0 auto;
    }

    h2{
      @include media-sp {
        margin-bottom: vw(52);
      }
    
      @include media-pc {
        margin-bottom: rem(94);
      }
    }
    
    .border-box{
      position:relative;
      background-color: var(--blue);

      @include media-sp {
        border: vw(2) solid var(--white);
        padding: vw(37) 0 vw(14);
        margin-bottom: vw(34);
      }
    
      @include media-pc {
        border: 2px solid var(--white);
        padding: rem(60) 0 rem(46);
        margin-bottom: rem(62);
      }

      &:last-of-type{
        margin-bottom: 0;
        &::after {
          display: none;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin:0 auto;
        background-color: var(--white);

        @include media-sp {
          width: vw(2);
          height: vw(32);
        }
      
        @include media-pc {
          width: 2px;
          height: rem(62);
        }
      }

      .border-box__step{
        position: absolute;
        left: 0;
        right: 0;
        margin:0 auto;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--white);

        @include media-sp {
          top: vw(-20);
          width: vw(247);
          height: vw(40);
        }
      
        @include media-pc {
          top: rem(-30);
          width: per(256, $w-pc);
          height: rem(60);
        }

        p{
          color: var(--blue);
          text-align: center;
          @include font-en-reg();
  
          @include media-sp {
            @include font-vw(20px, 20px, 0.8px);
          }
        
          @include media-pc {
            @include font-rem(1.75rem, 1.75rem, 0.07rem);
          }
        }
      }

      .border-box__txt{
        color: var(--white);
        text-align: center;

        @include media-sp {
      
        }
      
        @include media-pc {
          
        }
        
        .txt1{
          @include media-sp {
            @include SP-Large();
            margin-bottom: vw(16);
          }
        
          @include media-pc {
            @include PC-Large();
            margin-bottom: rem(24);
          }
        }
        
        .txt2{
          @include media-sp {
            @include SP-Regular();
            margin-top: vw(14);
          }
        
          @include media-pc {
            @include PC-Regular();
            margin-top: rem(14);
          }
        }
      }
    }
  }
  
}