@use "@/scss/import" as *;


.p-top-sec4{

  $w-pc : 1024;

  background-size  : 100% auto;
  background-repeat  : repeat-y;
  background-position: center top;

  @include media-sp {
    background-image : url(/assets/img/common/bg_mosaic_blue_sp.jpg);
    padding-top: vw(64);
    padding-bottom: vw(32);
  }

  @include media-pc {
    background-image : url(/assets/img/common/bg_mosaic_blue_pc.jpg);

    padding-top: rem(128);
    padding-bottom: rem(64);
  }

  
  .p-top-sec4__inner{
    @include media-sp {
      @include center-sp();
    }
  
    @include media-pc {
      width: 84%;
      max-width: 1024px;
      margin:0 auto;
    }

    h2{
      @include media-sp {
        width: vw(303);
        margin:0 auto vw(32);
      }
    
      @include media-pc {
        width: per(619, $w-pc);
        margin:0 auto rem(64);
      }
    }

    .p-top-sec4__pd{
      @include media-sp {
        width: vw(185);
        margin:0 auto vw(32);
      }
    
      @include media-pc {
        width: per(324, $w-pc);
        margin:0 auto rem(64);
      }
    }

    .p-top-sec4__link{
      background-color: var(--blue);
      @include media-sp {
        border-radius: vw(8);
        padding: vw(16) vw(16);
      }
    
      @include media-pc {
        border-radius: rem(16);
        padding: rem(32) per(64, $w-pc);
      }

      .c-btn-round2{
        @include media-sp {
          margin-bottom: vw(9);
        }
      
        @include media-pc {
          margin-bottom: rem(17);
        }
      }


      small{
        display: block;
        color: var(--white-semi);
        text-align: center;

        @include media-sp {
          @include SP-annotation();
        }
      
        @include media-pc {
          @include PC-annotation();
        }
      }
    }
  }
  
}