@use '@/scss/import' as *;

.c-btn-round{
  position:relative;
  @include media-sp {
      
  }

  @include media-pc {
    width: rem(640);
    margin:0 auto;
  }

  >div,a{
    position:relative;
    background-color: var(--blue);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    @include media-sp {
      
    }
  
    @include media-pc {
      border-radius: rem(8);
    }
  }

  p{
    @include media-sp {
      
    }
  
    @include media-pc {
      @include PC-Label();
      padding: 1.1em 0;
    }
  }

  .c-btn__arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-45deg);
    @include media-sp {
      
    }
  
    @include media-pc {
      right: rem(18);
      width: rem(10);
      height: rem(10);
      border-right: 2px solid var(--white);
      border-bottom: 2px solid var(--white);
    }
  }

}


.c-btn-round2{
  position:relative;
  @include media-sp {
      
  }

  @include media-pc {
  }

  >div,a{
    position:relative;
    background-color: var(--white);
    color: var(--black);

    display: flex;
    align-items: center;
    justify-content: center;

    @include media-sp {
      
    }
  
    @include media-pc {
      border-radius: rem(8);
    }
  }

  p{
    @include media-sp {
      
    }
  
    @include media-pc {
      padding: 1.1em 0;
      @include font-rem(1.5rem, 2.1rem, 0.12rem);
      font-weight: 500;
    }
  }

  .c-btn__arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-45deg);
    @include media-sp {
      
    }
  
    @include media-pc {
      right: rem(22);
      width: rem(11);
      height: rem(11);
      border-right: 2px solid var(--black);
      border-bottom: 2px solid var(--black);
    }
  }

}
